<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoauvYuLGijg77mSU7tk_cNOIoP7wCiTo</string>
	<key>GCM_SENDER_ID</key>
	<string>327159768718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.latihanMinggu7Ver2</string>
	<key>PROJECT_ID</key>
	<string>motion-todolist-ae086</string>
	<key>STORAGE_BUCKET</key>
	<string>motion-todolist-ae086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327159768718:ios:9f94d502f9c2e446994bdf</string>
</dict>
</plist>